:root {
    --color-green: #0f9d58;
    --color-yellow: #fbbc04;
    --color-red: #ea4335;
    --color-blue: #2596be;
    --color-gray: #e8e5e5;
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--color-black);
}

form {
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: var(--color-black);
    margin-bottom: 8px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: var(--color-blue);
    box-shadow: 0 0 5px rgba(0, 91, 184, 0.2);
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}

button[type="reset"] {
    background-color: var(--color-red);
    color: var(--color-white);
}

button[type="submit"] {
    background-color: var(--color-green);
    color: var(--color-white);
}

button:hover {
    opacity: 0.9;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
